<div id="currency-summary">
    <h1>currency</h1>
    <div class="row mt-4">
        <div class="col-6 label">EGP</div>
        <div class="col-6 stat">1.00</div>
    </div>
    <div class="row mt-4">
        <div class="col-6 label">USD</div>
        <div class="col-6 stat">16.37</div>
    </div>
    <div class="row mt-4">
        <div class="col-6 label">EUR</div>
        <div class="col-6 stat">18.48</div>
    </div>
    <div class="row mt-4">
        <div class="col-6 label">GBP</div>
        <div class="col-6 stat">20.56</div>
    </div>
</div>