<div id="new-edit-invoice">
    <div id="top-bar">
        <div id="back">
            <a routerLink="/admin/invoices">
                <img src="../../../assets/img/arrow-left-white.svg" alt="" title="back">
            </a>
            <label> Invoice #12345</label>
        </div>

        <div id="options">
            <!-- options Dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="../../assets/img/settings-grey.svg" alt="">
                </button>

                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="../../../assets/img/plus-grey.svg" alt="">
                            Create New
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="../../../assets/img/eye-grey.svg" alt="">
                            Preview
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="../../../assets/img/print-grey.svg" alt="">
                            Print
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="../../../assets/img/archive-grey.svg" alt="">
                            Archive
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <img src="../../../assets/img/trash-grey.svg" alt="">
                            Delete
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Save Changes Button -->
            <div id="save-changes">
                <label class="btn invisible">
                    Save Changes btn
                </label>
            </div>
        </div>
    </div>

    <div id="main-content">
        <h1>Details</h1>

        <form (ngSubmit)="submit_form()">
            <div class="row align-items-center my-3">
                <div class="col-12 col-xl-2 col-lg-2 col-md-3">
                    <label>creation date</label>
                </div>
                <div class="col-12 col-xl-4 col-lg-6 col-md-9 calendar">
                    <div class="input-group">
                        <input class="form-control" placeholder="Choose a Date" [(ngModel)]="model1" name="dp"
                            ngbDatepicker #d1="ngbDatepicker" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d1.toggle()" type="button">
                            <img src="../../../assets/img/calendar-alt-solid.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 col-xl-2 col-lg-2 col-md-3">
                    <label>due date</label>
                </div>
                <div class="col-12 col-xl-4 col-lg-6 col-md-9 calendar">
                    <div class="input-group">
                        <input class="form-control" placeholder="Choose a Date" [(ngModel)]="model2" name="dp"
                            ngbDatepicker #d2="ngbDatepicker"/>
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
                            <img src="../../../assets/img/calendar-alt-solid.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 col-xl-2 col-lg-2 col-md-3">
                    <label>due date</label>
                </div>
                <div class="col-12 col-xl-4 col-lg-6 col-md-9 calendar">
                    <div class="input-group">
                        <input class="form-control" placeholder="Choose a Date" [(ngModel)]="model2" name="dp"
                            ngbDatepicker #d2="ngbDatepicker" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
                            <img src="../../../assets/img/calendar-alt-solid.svg" alt="">
                        </button>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

    </div>
</div>