<div class="container-fluid my-4">
    <a href="" class="btn btn-primary">+ add new invoice</a>
    <p>invoices works!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, odit facere laboriosam illum possimus
        quibusdam ipsam sapiente dolorum amet. Dignissimos quidem soluta, numquam reiciendis ipsam, esse repellendus
        magnam, sit laborum culpa nobis aliquam cum aut ullam. Vitae velit minus fugit distinctio earum quae quas
        numquam ratione est maiores, accusamus doloremque, quia placeat saepe praesentium quaerat iure eius maxime
        minima nesciunt qui? Libero quasi cum culpa eos eligendi qui fugit magnam accusamus eum porro, impedit
        praesentium excepturi ratione sapiente, est deleniti nemo consequatur. Modi, maxime deleniti voluptatibus a
        sequi quibusdam optio possimus earum? Aspernatur, repellat quia! Quo aspernatur alias ipsa placeat.</p>
</div>