
<div class="container-fluid">
    <button id="sidebar-btn" type="button" class="btn d-flex justify-content-between align-items-center" 
        mat-button
        >
        <img id="sidebar-arrow" >
        <img  alt="icon" src="../../../assets/img/chevron-left-solid.svg">
       title
    </button>
</div>

<!-- <div class="container-fluid">
    <button id="sidebar-btn" type="button" class="btn d-flex justify-content-between align-items-center" mat-button
        (click)="drawer.toggle();">
        <img id="sidebar-arrow" src="../../../assets/img/chevron-left-solid.svg">
        <img [src]="title_icon_source" alt="icon" [style]="width">
        {{ title }}
    </button>
</div> -->