<div id="change-password" class="">

    <div class="container d-flex flex-column align-items-center justify-content-center">

        <div class="img-container">
            <img src="../../assets/img/chart-line-solid.svg" alt="logo">
        </div>
        <h2 id="title">Invoices Manager</h2>

        <!-- Form -->
        <div id="change-password-form">
            <h2>Change Password</h2>
            <form method="GET" [formGroup]="ChangePasswordForm" (ngSubmit)="formSubmit()">

                <div class="row mb-3">
                    <label for="old-password-input" class="col-lg-3 col-form-label">old Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="old-password-input" name="old-password-input"
                            placeholder="Old Password" formControlName="old_password" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="change-password-input" class="col-lg-3 col-form-label">New Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="change-password-input"
                            name="change-password-input" placeholder="Choose a New Password"
                            formControlName="new_password" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="confirm-password-input" class="col-lg-3 col-form-label">Confirm New Password</label>
                    <div class="col-lg-9">
                        <input type="password" class="form-control" id="confirm-password-input"
                            name="confirm-password-input" placeholder="Confirm New Password"
                            formControlName="confirm_new_password" required>
                    </div>
                </div>
                <div id="login-btn-container" class="d-flex flex-column align-items-center justify-content-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!ChangePasswordForm.valid">Confirm</button>
                    <a routerLink="/dashboard" id="cancel">Cancel</a>
                </div>

            </form>
        </div>

    </div>

    <div></div>
</div>